In [ ]:
# 자료형
# 튜블, 딕셔너리, 집합
# 변수

In [ ]:
# 튜플(tuple)
# List 와의 차이점
# List는 [] tuple은 () 로 감싼다.
# 리스트는 요솟값의 생성, 삭제 수정이 가능
# 튜플은 요솟값을 바꿀 수 없다.

t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('c','d'),5)

# 튜플은 t2와 같이 단 하나의 요솟값을 가지면 ',' 사용
# t4와 같이 () 생략 가능하다

In [1]:
# tuple indexing
t1 = (1,2,3,'a','b')
t1[0]

1

In [3]:
t1[4]

'b'

In [4]:
# tuple slicing
t1 = (1,2,3)
t1[1:]

(2, 3)

In [5]:
# tuple 연산
# + 
# 요솟값들의 합이 아닌 단순이 튜플을 더해준다
t1 = 3,4
t2 = 1,3
t3 = t1 + t2
t3

(3, 4, 1, 3)

In [6]:
# *
t1 = 3,4
t2 = t1 * 5
t2

(3, 4, 3, 4, 3, 4, 3, 4, 3, 4)

In [7]:
# length
t1 = (1,2,3,4,5)
len(t1)

5

In [ ]:
# Dictionary
# 어떠한 변수에 가진 정보들을 나타낼 때 사용
# 대응 관계를 나타낸는 자료형을 dictionay or
# 연관 배열(associative array) or 해시(hash) 라고 한다.

# 기본적인 형태
# Key : Value 의 대응 관계를 가진다.
# {key1 : Value1, key2 : Value2, key3 : Value3, ...}
dic = {'name' : 'jindot', 'birth' : '941107', 'address': 'Guri'}

# Key에는 정수값을 사용할 수 있다.
# Value에는 리스트를 사용할 수 있다.

In [12]:
# dic 쌍 추가, 삭제
# 추가
a = {1 : 'a'}
a[2] = 'b'
a['add'] = 20
a['list'] = [1,2,3]
a

{1: 'a', 2: 'b', 'add': 20, 'list': [1, 2, 3]}

In [13]:
# 삭제
# del Dic Name[Key Name]
del a['add']
a

{1: 'a', 2: 'b', 'list': [1, 2, 3]}

In [14]:
# Use Examples
# Key 값으로 Value 얻기
salary = {'a' : 300, 'b' : 280}
salary['a']

300

In [15]:
dic = {'name' : 'jindot', 'birth' : '941107', 'address': 'Guri'}
dic['birth']

'941107'

In [16]:
# 주의사항
# Key값은 고유값으로 중복이 될 수 없다.
# 위의 dic을 보았을 때 이름, 생일, 주소가 여러 개가 될 수 없다.
# Key 가 중복되면 하나를 제외한 나머지는 모두 무시된다.
# Key에는 list를 사용불가하고 tuple은 사용가능하다.
# Key가 변하는(mutable) 값인지, 변하지 않는(immutable) 값인지 생각해보자.
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

In [17]:
# dictionay 관련 함수
# Key List : keys
dic = {'name' : 'jindot', 'birth' : '941107', 'address': 'Guri'}
dic.keys()

dict_keys(['name', 'birth', 'address'])

In [18]:
# python 3.0 update
list(dic.keys())

['name', 'birth', 'address']

In [19]:
# Value list : values
dic.values()

dict_values(['jindot', '941107', 'Guri'])

In [22]:
list(dic.values())

['jindot', '941107', 'Guri']

In [20]:
# Key, Value 쌍 얻기 - items
dic.items()

dict_items([('name', 'jindot'), ('birth', '941107'), ('address', 'Guri')])

In [21]:
list(dic.items())

[('name', 'jindot'), ('birth', '941107'), ('address', 'Guri')]

In [23]:
# Key로 Value 얻기 - get
dic.get('address')

'Guri'

In [24]:
# Key가 없을 경우 미리 정해둔 디폴트 값을 가져오고 싶을 때
dic.get('type', 'beginner')

'beginner'

In [25]:
# 해당 Key가 Dictionary 안에 있는지 확인 : in
'name' in dic

True

In [26]:
'Type' in dic

False

In [27]:
# dictionary 삭제 : clear
dic.clear()
dic

{}

In [28]:
'name' in dic

False

:

In [3]:
# 집합(Set) 자료형
# 기본 형태
s1 = set([1,2,3])
s1

{1, 2, 3}

In [4]:
s2 = set('jindot')
s2

# s = set() Empty Set

{'d', 'i', 'j', 'n', 'o', 't'}

In [5]:
# set 특징
# 중복 허용하지 않는다.
# 순서가 존재하지 않는디.(Unordered)
# >> indexing으로 elements를 얻을 수 없다.
# >> list 나 tuple로 바꾸고 elements를 가져와야한다.

s1 = set([1,2,3,4])
l1 = list(s1)
l1[0]

1

In [6]:
t1 = tuple(s1)
t1[1]

2

In [8]:
# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합 : &, intersection
s1 & s2

{4, 5, 6}

In [9]:
s1.intersection(s2)

{4, 5, 6}

In [10]:
# 합집합 : |, union
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# 차집합 : -, difference
s1 - s2

{1, 2, 3}

In [13]:
s1.difference(s2)

{1, 2, 3}

In [16]:
# 집합 관련 함수
# 값 1개 추가 : add
s1 = set([1,2,3])
s1.add(7)
s1

{1, 2, 3, 7}

In [18]:
# 값 여러개 추가 : update
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6, 7}

In [20]:
# 특정 값 삭제 : remove
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7}

In [21]:
s1.remove([5,6,7])
s1

TypeError: unhashable type: 'list'

In [22]:
s1.remove(5,6,7)
s1

TypeError: set.remove() takes exactly one argument (3 given)

In [ ]:
# remove 여러번 호출
my_set = {1, 2, 3, 4, 5}

# 여러 값을 제거할 때
values_to_remove = {2, 4}

for value in values_to_remove:
    my_set.remove(value)

print(my_set)  # {1, 3, 5}

In [ ]:
# difference_update() method를 사용
my_set = {1, 2, 3, 4, 5}
values_to_remove = {2, 4}

my_set.difference_update(values_to_remove)

print(my_set)  # {1, 3, 5}

In [3]:
# 불(Bool)
# 참(true)과 거짓(false)의 값을 가진다.
# 참과 거짓을 나타낼 때에는 첫 문자가 꼭 대문자로 쓰자.(예약어)

a = True
b = False

type(a)

bool

In [4]:
type(b)

bool

In [6]:
# 문자열, 리스트, 튜플, 딕셔너리 값이 비어있으면 False
# 숫자값이 있으나 0일 때, False

# Use Examples
a = [1,2,3,4,5]
while a: # while 조건문 >> 조건문이 참인 동안
    print(a.pop()) # 이 함수를 계속해서 반복한다.

# 여기서 복습
# pop() : 마지막 요솟값을 꺼내 반환하는 함수.
# 마지막 요솟값 1 이 나오고 리스트 안에 비어있으므로 false
# >> while 종료

5
4
3
2
1

In [7]:
# 불 연산
bool('python')

True

In [8]:
bool('')

False

In [9]:
bool([1, 2, 3])

True

In [10]:
bool([])

False

In [11]:
bool(0)

False

In [1]:
# 변수(variable)
# 값을 나타내는 문자나 문자들의 집합이며 
# 실행 중인 컴퓨터 프로그램에서, 임의의 값을 저장한 메모리 주소에 대응한다.
# 위의 말은 정의고, 쉽게 생각해서 무언가를 담는 박스라고 생각하자.

# 리스트 복사
a = [1,2,3]
b = a

id(a)

2252738639040

In [2]:
id(b)

2252738639040

In [3]:
# a b 동일한지 검사
a is b

True

In [4]:
# a list 3번째 요소값 4로 변경
a[2] = 4
a

[1, 2, 4]

In [5]:
b

[1, 2, 4]

In [6]:
# b 변수를 생성할 때 a 변수의 값을 가져오면서 a와는 다른 주소를
# 가르키도록 복사
# [:] 사용 복사
a = [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [7]:
b

[1, 2, 3]

In [8]:
# copy module
# from copy import copy
from copy import copy
a = [1,2,3]
b = copy(a)

b is a
# true : 동일 false : 비동일

False