In [1]:
food = 'Python's favorite food is perl'
print(food)

SyntaxError: unterminated string literal (detected at line 1) (1929615097.py, line 1)

In [1]:
# 정수형(Integer)
a = 123
b = -123
c = 0

print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

In [5]:
# 실수형(Floating-point)
a = 1.2
b = -1.2
print(type(a),type(b))

# '컴퓨터식 지수 표현 방식' >> E 또는 e 를 사용
c = 2e10
d = 2E-10
print(c,d)
print(type(c),type(d))
# 2e10 = 2 * 10^10

<class 'float'> <class 'float'>
20000000000.0 2e-10
<class 'float'> <class 'float'>

In [7]:
# 8진수 & 16진수
# 8진수 >> 0o 또는 0O
a = 0o177
# 0o177 = 1 x 8^2 + 7 x 8^1 + 7 =127
print(a)

#16진수 >> 0x
b = 0x8ff
c = 0xABC
print(b,c)

# python 에서 잘 사용하지 않는다.
# 로봇모션공학(segments) 부분에서 필수로 알아야 했던 기억이 남

127
2303 2748

In [10]:
# 연산
# + : a + b
# - : a - b
# * : a * b
# / : a / b

# ** : 제곱
# % : 나머지만 리턴
# // : 몫을 리턴(정수값)

a = 2
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a % b)
print(a // b)

5
-1
6
0.6666666666666666
8
2
0

In [18]:
# 문자열(String)
# 문자, 단어 등 구성된 문자들의 집합
# 1. " "
iAm = "jindot"
print(iAm)
# 2. ' '
iAm2 = 'jindot2'
iAm2

jindot

'jindot2'

In [21]:
# '', ""
# 문자열에 '를 사용한다면 " "로 감싸주고 "" 가 있으면 ''로 감싸준다
iWant = "Show me the 'money'!"
iWant

"Show me the 'money'!"

In [20]:
iWant = 'i say "show me the money!"'
iWant

'i say "show me the money!"'

In [23]:
# 여러 줄 문자열을 변수에 저장
# 1. 이스케이프 코드 /n
multiLine = "i am jindot\nWho are you"
print(multiLine)

i am jindot
Who are you

In [24]:
# 2. """""" 또는 ''''''
multiLine = '''
i am jindot
who are you
'''
print(multiLine)

# """""" 도 값은 동일하다.

i am jindot
who are you

In [ ]:
# 이스케이프 코드 >>>

In [27]:
# 문자열은 + 와 * 이 가능
iAm = 'jindot'
age = ' 30'
iAm + age

'jindotjindot'

In [28]:
iAm = 'jindot'
iAm * 10

'jindotjindotjindotjindotjindotjindotjindotjindotjindotjindot'

In [29]:
# len : 문자열의 길이 (Length)
iAm = "my name is jindot"
len(iAm)

17

In [1]:
"i eat %d apple" %3

'i eat 3 apple'

In [1]:
# 문자열 인덱싱(Indexing)
# 인덱싱 : '가르킨다'
a = 'my name is jindot.'

a[3]

'n'

In [2]:
a = 'my name is jindot'
a[-2]

'o'

In [9]:
# 문자열 슬라이싱(Slicing)
# 슬라이싱 : 잘라내다.

a = 'my name is jindot.'
b = a[0] + a[1] + a[2] + a[3] + a[4] + a[5] + a[6]
b

'my name'

In [13]:
a = 'my name is jindot.'
a[0:6]

'my nam'

In [ ]:
a = 'my name is jindot.'
a[8:10]

In [14]:
a = 'my name is jindot.'
a[7:]

' is jindot.'

In [15]:
a = 'my name is jindot.'
a[:7]

'my name'

In [18]:
# 만약 jindot을 jinwon 으로 바꾸고 싶다면
a = 'my name is jindot.'
a[14] = 'w'

TypeError: 'str' object does not support item assignment

In [20]:
a = 'my name is jindot.'
a[:14] + 'w' + a[15] + 'n' + a[17]

'my name is jinwon.'

In [21]:
# 문자열 포매팅(String formatting)
# 특정 방식으로 데이터를 배열하거나 표시하는 것
# 숫자 바로 대입
'my age is %d' %30 # %d : 문자열 포맷 코드

'my age is 30'

In [23]:
# 문자열 바로 대입
'my age is %d' %'만 29살 이요.'

TypeError: %d format: a real number is required, not str

In [24]:
'my age is %s' %'만 29살 이요.'

'my name is 만 29살 이요.'

In [25]:
# 변수 대입
number = 30
'my age is %d' % number

'my age is 30'

In [26]:
# 2개 이상의 값
name = 'jindot'
age = 30
'my name is %s, age is %d' %(name, age)

'my name is jindot, age is 30'

In [27]:
# format 함수 사용
'my age is {0}'.format(30)

'my age is 30'

In [30]:
'my name is {0}'.format('jinwon')

'my name is jinwon'

In [36]:
# 문자열 관련 함수들
a = 'I want to be an AI developer!'
# count : 문자 개수 세기
print(a.count('w'))
# find : 위치 찾기
print(a.find('w'))
# index : 찾는 문자가 맨 처음으로 나온 위치를 반환한다.
#       : 존재하지 않는다면 valueError
print(a.index('t'))

1
2

5

In [48]:
# join : 문자열 삽입
",".join('abcd')
# abcd 문자열에 ,를 각각의 문자 사이에 삽입한다.

# upper : 소문자 >> 대문자
# lower : 대문자 >> 소문자
a = 'i'
print(a.upper())
b = 'YOU'
print(b.lower())

# 대문자 소문자 섞여있다면??
# 값은 변할까??

I
you

In [49]:
# split : 문자열 나누기
a = 'my name is jindot'
a.split()

['my', 'name', 'is', 'jindot']

In [52]:
b = 'a.b.c.d'
b.split('.')

['a', 'b', 'c', 'd']